
<center>
<br>
<br>

<h1>........WELCOME......</h1>
<h2><i>Perfect Partner in Library Management.</i></h2>
</center>
<title>
library app
</title>
<center>
<br>
<br>
<h1><%= link_to 'Books', controller: 'articles' %><h1><t>  </t>
<h1><%= link_to 'Student', controller: 'articlestuds' %></h1>
 <body background="C:\Sites\blog\app\views\welcome\image.jpg">
</body></center>
